[submodule "content/networking/network-policy/network-policy-demo"]
	path = content/networking/network-policy/network-policy-demo
	url = https://github.com/openshift-examples/network-policy-demo.git
[submodule "content/kubevirt/ansible"]
	path = content/kubevirt/ansible
	url = https://github.com/openshift-examples/kubevirt-ansible
