---
extends: default

ignore: |
  deploy/openshift-examples-simple/templates/
rules:
  comments-indentation: false
  document-start: disable
  line-length:
    max: 180
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  braces:
    level: warning
    max-spaces-inside: 1
