site_name: OpenShift Examples
# Project information
# site_description: My /
site_author: Robert Bohne
site_url: https://examples.openshift.pub

# Repository
repo_name: openshift-examples/web
repo_url: https://github.com/openshift-examples/web
edit_uri: edit/master/
# Copyright
copyright: <a href="/impressum/">Impressum</a>

# Configuration
theme:
  name: material
  language: en
  custom_dir: overrides
  logo: images/favicon.png
  favicon: images/favicon.png
  palette:
    primary: black
    accent: red
  font:
    text: Overpass
    code: Overpass Mono
  icon:
    logo: material/library
    repo: fontawesome/brands/github

# Extras
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rbo
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/robertbohne
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/robertbohne

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: true
      linenums: true
  - toc:
      permalink: true
  - pymdownx.tasklist
  - meta

plugins:
  - search # necessary for search to work
  - git-revision-date-localized:
      type: date
  - tags:
      tags_folder: content/
      tags_template: content/tags.md.template
extra_css:
  - assets/stylesheets/powered-by.css

#  gsed -E "s/\* \[(.+)\]\((.+)\)/- \'\1\': '\2'/" docs/SUMMARY.md
nav:
  - Cluster installation:
    - Air-gapped: cluster-installation/air-gapped.md
    - VMware/vSphere:
      - Basic (UPI): cluster-installation/vmware/upi/index.md
      - Example installation: cluster-installation/vmware/example/index.md
      - IPI & Proxy: cluster-installation/vmware/ipi-proxy/index.md
      - MachineSet & UPI: cluster-installation/vmware/machineset-with-upi/index.md
    - Nvidia GPU:
      - GPU on-prem: cluster-installation/gpu/gpu-on-prem.md
      - GPU on AWS: cluster-installation/gpu/gpu-on-aws.md
      - GPU debugging: cluster-installation/gpu/gpu-debuging.md
    - Windows Container:
        - DevPreview: cluster-installation/windows-container/dev-prev/index.md
        - On-Prem - WiP: cluster-installation/windows-container/on-prem/index.md
    - Adjust RHCOS.ISO: cluster-installation/adjust-rhcos.iso.md

  - Cluster configuration:
    - Authentication:
      - ActiveDirectory / LDAP: cluster-configuration/authentication/activedirectory-ldap/index.md
      - Red Hat SSO - via Google: cluster-configuration/authentication/redhat-sso/index.md
      - Basic Authentication (Remote): cluster-configuration/authentication/auth-basic-authentication.md
    - Cluster entitlement: cluster-configuration/full-cluster-entitlement/index.md
    - Cluster entitlement debugging: cluster-configuration/full-cluster-entitlement/debugging.md
    - Storage:
      - NFS Client provisioner: cluster-configuration/storage/nfs.md
    - NTP: cluster-configuration/ntp.md
    - Alertmanager: cluster-configuration/alertmanager.md
    - Logging:
      - Log Forwarding API: cluster-configuration/logging/forwarding-demo.md
    - Image Registry: cluster-configuration/image-registry/index.md
    - MachineConfig:
      - Machine Config Server: cluster-configuration/machine-config/machine-config-server.md
    - MachineSets:
      - Debugging: cluster-configuration/MachineSets/debugging.md
    - Cluster autoscaling: cluster-configuration/cluster-autoscaling/index.md

  - Cluster lifecycle:
    - Over-the-Air Upgrades: cluster-lifecycle/oat-upgrades/index.md
    - Monitoring:
      - Metrics: cluster-lifecycle/monitoring/metrics.md
    - cloud.redhat.com: cluster-lifecycle/cloud-redhat-com/index.md

  - Build:
    - Examples: build/examples.md
    - Entitled: build/entitled.md
    - Jenkins Pipeline: build/jenkins.md
    - S2I - R shiny: build/s2i-r-shiny.md
    - Universal Base Images: build/universal-base-image/index.md

  - Deploy:
    - Deployments: deploy/deployment.md
    - Liveness probe - WiP: deploy/liveness-probe.md
    - Storage: deploy/storage.md
    - ImageStreams: deploy/imagestreams.md
    - StatefulSet: deploy/statefulset.md
    - Quota - WiP: deploy/quota/index.md
    - SCC anyuid example": deploy/scc-anyuid.md
    - Init containers: deploy/initcontainers.md
    - Nginx reverse proxy: deploy/nginx-reverse-proxy.md
    - EAP Cluster demo: deploy/eap-cluster.md
    - POD Autoscaling: deploy/autoscaling.md
    - Scale down DC: deploy/scale-down-deploymentconfigs.md
    - Ops Container: deploy/ops-container.md
    - Token: cluster-configuration/authentication/token.md
    - Monitoring:
      - Workload: deploy/monitoring/workload.md
    - Workload examples:
      - JFrog Artifactory: deploy/workload/jfrog-artifactory-enterprise-operator-air-gapped.md
      - Own apache: deploy/workload/own-apache-container.md
      - Gitlab Runner: deploy/workload/gitlab-runner.md
      - Grafana with OAuth Proxy: deploy/workload/grafana-oauth.md


  - Networking:
    - Services & Routes:
      - Service Certificate: networking/services-routes/service-serving-certificate-secrets/index.md
      - Route encryption: networking/services-routes/route-encryption/index.md
    - Multus: networking/multus.md
    - Network Policy:
      - General: networking/network-policy/index.md
      - OVNKubernetes: networking/network-policy/OVNKubernetes.md
      - OpenShiftSDN: networking/network-policy/OpenShiftSDN.md
    - Router sharding: networking/services-routes/router-sharding/index.md
    - Egress IP testing: networking/egress-ip.md
    - Kubernetes iptables chains: networking/k8s-iptables-chains.md

  - Operators:
    - Custom Resource Definition (CRD): operators/custom-ressource-definition/index.md
    - Air-gapped OLM >= 4.6: operators/air-gapped-4.6.md
    - Air-gapped OperatorHub - pre 4.6: operators/air-gapped-pre-4.6.md
    - Ansible Operator: operators/ansible-operator.md
    - OperatorHub: operators/operatorhub.md
    - Install Operator as a User - WiP: operators/install-operator-as-a-user.md
    - Cluster Configurator: operators/cluster-configurator.md
    - Simple Application Operator - WiP: operators/simple-application-operator.md

  - OpenShift Virtualization:
    - General: kubevirt/index.md
    - Networking: kubevirt/networking.md
    - Local-storage: kubevirt/local-storage.md

  - Quay & Clair: quay/index.md
  - Certificates: certificate/index.md
  - Misc:
    - Velero: misc/velero/index.md
    - CloudFlare: misc/cloudflare.md
    - Terraform: misc/terraform.md
    - ConSol Meetup Notes: misc/meetup-notes.md
    - Hetzner Lab notes: misc/hetzner-lab.md
  - Tags: tags.md

docs_dir: content/