site_name: OpenShift Examples
# Project information
# site_description: My /
site_author: Robert Bohne
site_url: https://examples.openshift.pub

# Repository
repo_name: openshift-examples/web
repo_url: https://github.com/openshift-examples/web
edit_uri: edit/master/content/
# Copyright
copyright: <a href="/impressum/">Impressum</a>

# Configuration
theme:
  name: material
  language: en
  custom_dir: overrides
  # logo: images/desk.png
  # favicon: images/favicon.png
  palette:
    - primary: black
      accent: red
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
    - scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
  font:
    text: Overpass
    code: Overpass Mono
  icon:
    logo: material/bookmark
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.top
    - navigation.indexes
    - navigation.tracking
    - content.code.copy

# Extras
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rbo
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/robertbohne
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/robertbohne

# Extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - pymdownx.tasklist
  # Use --8<-- "content/cluster-lifecycle/backup/pod.yaml"
  - pymdownx.snippets:
      check_paths: true
  - meta
  - attr_list

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: false
      type: timeago
  - git-authors
  - tags:
      tags_file: tags.md
  - macros:
      verbose: false
  - glightbox

hooks:
  - hooks/sha256_filter.py

extra_css:
  - assets/stylesheets/powered-by.css

#  gsed -E "s/\* \[(.+)\]\((.+)\)/- \'\1\': '\2'/" docs/SUMMARY.md
nav:
  - Cluster installation:
      - Air-gapped: cluster-installation/air-gapped.md
      - VMware/vSphere:
          - "Example installation": cluster-installation/vmware/example/index.md
          - "IPI & Proxy": cluster-installation/vmware/ipi-proxy.md
          - "MachineSet & UPI": cluster-configuration/MachineSets/VMware-UPI/index.md
      - Hosted Control Plane: cluster-installation/hosted-control-plane.md
      - Nvidia GPU:
          - cluster-installation/gpu/index.md
          - GPU on-prem: cluster-installation/gpu/gpu-on-prem.md
          - GPU on AWS: cluster-installation/gpu/gpu-on-aws.md
          - GPU debugging: cluster-installation/gpu/gpu-debuging.md
      - Windows Container:
          - VMware IPI: cluster-installation/windows-container/VMware-ipi.md
          - DevPreview: cluster-installation/windows-container/dev-prev.md
      - Adjust RHCOS.ISO: cluster-installation/adjust-rhcos.iso.md

  - Cluster configuration:
      - cluster-configuration/index.md
      - Authentication:
          - cluster-configuration/authentication/index.md
          - Client Certificate: cluster-configuration/authentication/client-certificate/index.md
          - ActiveDirectory / LDAP: cluster-configuration/authentication/activedirectory-ldap.md
          - Red Hat SSO - via Google: cluster-configuration/authentication/redhat-sso.md
          - Basic Authentication (Remote): cluster-configuration/authentication/auth-basic-authentication.md
      - Cluster entitlement:
          - cluster-configuration/full-cluster-entitlement/index.md
          - Debugging: cluster-configuration/full-cluster-entitlement/debugging.md
      - Kernel Module: cluster-configuration/build-load-kernel-module/index.md
      - Storage:
          - NFS Client provisioner: cluster-configuration/storage/nfs.md
      - NTP: cluster-configuration/ntp.md
      - Monitoring:
          - Alertmanager:
              - cluster-configuration/monitoring/alertmanager/index.md
              - Debug receiver: cluster-configuration/monitoring/alertmanager/debug-receiver.md
              - Github receiver: cluster-configuration/monitoring/alertmanager/github-receiver.md
              - Telegram receiver: cluster-configuration/monitoring/alertmanager/telegram-receiver.md

      - Logging:
          - Log Forwarding API: cluster-configuration/logging/forwarding-demo/index.md
      - Image Registry: cluster-configuration/image-registry.md
      - MachineConfig:
          - cluster-configuration/machine-config/index.md
          - Machine Config Server: cluster-configuration/machine-config/machine-config-server.md
      - MachineSets:
          - Debugging: cluster-configuration/MachineSets/debugging.md
          - "VMware UPI": cluster-configuration/MachineSets/VMware-UPI/index.md
      - Cluster autoscaler: cluster-configuration/cluster-autoscaling.md

  - Cluster lifecycle:
      - cluster-lifecycle/index.md
      - Over-the-Air Upgrades: cluster-lifecycle/oat-upgrades.md
      - Monitoring:
          - Metrics: cluster-lifecycle/monitoring/metrics.md
      - cloud.redhat.com: cluster-lifecycle/cloud-redhat-com.md
      - Backup:
          - Etcd: cluster-lifecycle/backup/etcd.md
      - Restore & Recovery: cluster-lifecycle/restore.md

  - Troubleshooting: troubleshooting/index.md

  - Client: client/index.md
  - Build:
      - build/index.md
      - Entitled: build/entitled.md
      - Tekton/Pipelines:
          - build/pipeline/index.md
          - BuildPacks: build/pipeline/buildpacks.md
      - Jenkins Pipeline: build/jenkins.md
      - S2I - R shiny: build/s2i-r-shiny.md
      - Universal Base Images: build/universal-base-image.md

  - Deploy:
      - deploy/index.md
      - Liveness probe - WiP: deploy/liveness-probe.md
      - Storage: deploy/storage.md
      - ImageStreams: deploy/imagestreams.md
      - StatefulSet: deploy/statefulset.md
      - Quota - WiP: deploy/quota.md
      - SCC anyuid example: deploy/scc-anyuid.md
      - Init containers: deploy/initcontainers.md
      - Nginx reverse proxy: deploy/nginx-reverse-proxy.md
      - EAP Cluster demo: deploy/eap-cluster.md
      - Pod Autoscaling: deploy/autoscaling/index.md
      - Scale down DC: deploy/scale-down-deploymentconfigs.md
      - Ops Container: deploy/ops-container.md
      - Java/JAR: deploy/jar.md
      - Token: cluster-configuration/authentication/token.md
      - Faketime (libtaketime): deploy/faketime.md
      - Monitoring:
          - Workload: deploy/monitoring/workload.md
      - Workload examples:
          - JFrog Artifactory: deploy/workload/jfrog-artifactory-enterprise-operator-air-gapped.md
          - Own apache: deploy/workload/own-apache-container.md
          - Gitlab Runner: deploy/workload/gitlab-runner.md
          - Grafana with OAuth Proxy: deploy/workload/grafana-oauth.md
          - Quake 3 Arena: deploy/workload/quake3.md

  - GitOps:
      - gitops/index.md

  - Networking:
      - networking/index.md
      - Services & Routes:
          - Service Certificate: networking/services-routes/service-serving-certificate-secrets.md
          - Route encryption: networking/services-routes/route-encryption.md
      - Multus: networking/multus.md
      - Network Policy:
          - networking/network-policy/index.md
          - Demo: networking/network-policy/network-policy-demo/README.md
          - OVNKubernetes: networking/network-policy/OVNKubernetes.md
          - OpenShiftSDN: networking/network-policy/OpenShiftSDN.md
      - Router sharding: networking/services-routes/router-sharding.md
      - Egress IP testing: networking/egress-ip.md
      - Kubernetes iptables chains: networking/k8s-iptables-chains.md

  - Operators:
      - operators/index.md
      - Custom Resource Definition (CRD): operators/custom-ressource-definition.md
      - Air-gapped OLM >= 4.6: operators/air-gapped-4.6.md
      - Air-gapped OperatorHub - pre 4.6: operators/air-gapped-pre-4.6.md
      - Ansible Operator: operators/ansible-operator.md
      - OperatorHub: operators/operatorhub.md
      - Install Operator as a User - WiP: operators/install-operator-as-a-user.md
      - Cluster Configurator: operators/cluster-configurator.md
      - Simple Application Operator - WiP: operators/simple-application-operator.md

  - OpenShift Virtualization:
      - kubevirt/index.md
      - VM Templates: kubevirt/template.md
      - Ansible: kubevirt/ansible/README.md
      - Networking: kubevirt/networking.md
      - Local-storage: kubevirt/local-storage.md

  - Quay & Clair: quay.md
  - Certificates: certificate.md
  - Misc:
      - misc/index.md
      - Velero: misc/velero.md
      - CloudFlare: misc/cloudflare.md
      - Terraform: misc/terraform.md
      - ConSol Meetup Notes: misc/meetup-notes.md
      - Hetzner Lab notes: misc/hetzner-lab.md

  - My Lab notes:
      - my-lab/index.md
      - Hetzner Storage Box: my-lab/storage-box.md
      - Local fedora: my-lab/local-fedora.md
      - SSH: my-lab/ssh.md
      - OCP Remote worker: my-lab/remote-worker.md
      - Workstation: my-lab/fedora-workstation.md

  - OpenShift.tv:
      - openshift-tv/index.md
      - vSphere IPI & disconnected environment: openshift-tv/2021-04-14-vpshere-ipi-disconnected.md
  - Tags: tags.md

docs_dir: content/
