# get version via `pip freeze`
mkdocs==1.5.3
mkdocs-material==9.5.3
mkdocs-git-revision-date-localized-plugin==1.2.2
mkdocs-glightbox==0.3.5
git+https://github.com/jldiaz/mkdocs-plugin-tags.git
git+https://github.com/fralau/mkdocs_macros_plugin.git@v1.0.5
# Only for pre-commit checks not for mkdocs it selfe
pre-commit==3.3.1
mkdocs-git-authors-plugin==0.7.2