---
title: Tags
---
# Contents grouped by tags
{% set reserved = ['VMware','vSphere','UPI','RHCOS','SCC','S2I','OTA','GPU','OVNKubernetes','OpenShiftSDN'] %}
{% for tag, pages in tags %}
{% if tag in reserved %}
## <span class="tag">{{tag}}</span>
{% else %}
## <span class="tag">{{tag | capitalize}}</span>
{% endif %}
| Page        | Description
| ------------- |-------------|{%  for page in pages %}
| [{{page.title}}]({{page.filename}})    | {{page.description}} |{% endfor %}
{% endfor %}
