.md-footer-powered-by {
    margin: auto .6rem;
    padding: .4rem 0;
    color: var(--md-default-bg-color--lighter);
    font-size: .64rem;
}

.md-footer-copyright {
    text-align: center
}


.md-grid {
    max-width: initial;
}